@charset "utf-8";
.coluna {

}
.img {
	background-image: url(Alice-in-Wonderland-2010-Full-Movie-Watch-Online-HD.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
	height: 400px;
	width: 100%;
}

.coluna1 {
	background-color: #000000;
	color: #FFFFFF;
}
